/* Basic CSS utilities */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Actual CSS */

header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
  background-color: black;
  position: relative;
}

.logo-title {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 3;
}

.logo-title .brand-title {
  font-size: 2.5rem;
  font-family: 'Lora', sans-serif;
}

.logo-title:hover .brand-title {
  color: #03a9f4;
} .logo-title:hover { cursor: pointer; }

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

nav > ul {
  display: flex;
  position: relative;
}

.navbar-link {
  padding: 10px 15px;
  position: relative;

  z-index: 1;
}

.navbar-link > a {
  position: relative;
}

.tooltip.up {
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
  pointer-events: none;
  padding: 10px;
  z-index: 1;
  
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.up.first {
  left: 140px;
}

.tooltip.up.last {
  left: -38px;
}

.tooltip-arrow::after {
  visibility: hidden;
  content:'';
  position:absolute;
  width:20px;
  height:20px;
  left:50%;
  transform:translate(-50%,-50%) rotate(45deg);
  background-color:darkgray;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  top: 40px;
}

/* Tooltips/arrow become visible after hover on nav,ul,<li>  */
.navbar-link:hover .tooltip.up, .navbar-link:hover .tooltip-arrow::after {
  visibility: visible;
  color: white;
  background-color: darkgray;
}


/* hovering navbar animations */

nav:hover:not(.logo-title) a {
  /* color: #03a9f4; */
  color: #737373;
  transition: 0.2s ease;
}

.navbar-link:hover > a {
  color: #03a9f4 !important;
}

/*                */
/*  NEXT SECTION  */
/*                */

section {
  background-color: rgb(24, 24, 24);
}

.section-wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 { 
  font-family: Lora;
  font-size: 2rem;;
}

.icons-wrappers-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.icons-wrappers-container:hover i {
  color: grey ;
}

.icon-wrapper {
  padding: 5px 10px;
  cursor: pointer;
}

.icon-wrapper:hover > i {
  color: white;
}

#yt-icon:hover {
  color: red;
}

#twitter-icon:hover {
  color: rgb(0, 136, 255) ;
}

#patreon-icon:hover {
  color: pink ;
}

#reddit-icon:hover {
  color: rgb(255, 94, 0) ;
}

#insta-icon:hover {
  color: yellow;
}

#facebook-icon:hover {
  color: blue;
}

#tiktok-icon:hover {
  color: palevioletred;
}
